p {
    font-weight:lighter;
    text-align: justify;
}

.main-header .logo {
    font-family: fantasy;
    font-weight: normal;
    font-size: 24px;
    color: #c70b69;
    background-color: #c70b69;
  }

h2 {
    font-size: 2em;
    font-family: Cambria;
    color: #c70b69;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;

}

h3 {
    font-size: 1.2em;
    color: #c70b69;
    font-weight: bold;
}

.box {
    border-color: pink;
}


.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: black!important;
}

.bg-black > .box-header > h3.box-title {
    color: white;
}


.irs-bar {
    border-top: 1px solid #c70b69;
    border-bottom: 1px solid #c70b69;
    background: #c70b69;
}

span.irs.js-irs-0.irs-with-grid {
    margin: 2%;
}

.irs-bar-edge {
    border: 1px solid #c70b69;
    background: #c70b69;
}

.irs-min, .irs-max {
	color:white;
}

.irs-from, .irs-to, .irs-single {
	background: #c70b69;
}

.info-box-content > p {
    font-size: 0.8em;
}



